[Unit]
Description=Process Agenda Agora AgPay events
After=agenda-agora.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/agenda-cron agpay-events
